/node_modules
/public/hot
/public/storage
/public/img/testing
/public/documents/*.pdf
/public/documents/*.json
/public/documents/*.doc
/public/documents/*.docx
/public/documents/*.xls
/public/documents/*.xlsx
/public/photos/*.jpg
/public/photos/*.jpeg
/public/photos/*.png
/public/mainImages/*.jpg
/public/mainImages/*.jpeg
/public/mainImages/*.png
/public/pdfs/*.pdf
/public/csv/*.csv
/public/documents/testing
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip