<p>Cher Monsieur xxx, </p>
											<p>Veuillez trouver, ci-dessous, notre meilleure offre pour votre bien situé à [address-estate] reprenant les caractéristiques suivantes:
											<br>Localisation du bien:
											<br>[localisation-estate] 
											<br>Description du bien:
											<br>[description-estate]
											<br>Détails de l'intérieur du bien:
											<br>[details-interior-estate]
											<br>Détails de l'extérieur du bien:
											<br>[details-exterior-estate]
											<br>Remarques du requéreur:
											<br>[remarks-estate]
											<p>Cordialement, </p>
											<p>Administrateur Administrateur</p>
											<img src="http://wesold-local.com/img/logo.svg" width="252">